@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply h-full text-[clamp(12px,4vw,16px)];
  }
  body {
    @apply h-full bg-background text-white;
  }
  main {
    @apply h-full;
  }

  :root {
    --color-primary: #face8d;
    --color-secondary: #f8d49e;
    --color-background: #050505;
    --color-dark: #081212;
    --color-white: #ffffff;
    --color-white-80: #ffffffcc;
    --color-white-10: #ffffff1a;
    --color-gray-hover: #f8f8f8;

    --border-radius-6: 6px;
    --border-radius-10: 10px;
    --border-radius-16: 16px;
    --border-radius-100: 100px;
    --border-radius-500: 500px;
  }
}
